/* main.scss 맨 상단에 추가 */
html, body, #root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  width: 100% !important;
  max-width: 100% !important; /* 최대 너비 제한 강제 해제 */
  margin: 0 !important;
}


:root {
  --bg-color: #111111;
  --text-primary: #ffffff;
  --text-secondary: #9a9a9a;
  --accent-green: #F0FFB2;
  --line-color: rgba(216, 216, 216, 0.22);
  --font-head: 'Michroma', sans-serif;
  --font-body: 'Pretendard', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: var(--font-body);
  min-height: 100vh;
  overflow-x: hidden;
  text-align: left; 
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}